* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}

#logo{
    height: 50px;
    width: 160px;
}

#logo img {
    margin: 10px;
    height: 50px;
    width: 160px;
}

.car-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.car-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 340px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth hover transitions */
}

.car-card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow enhancement on hover */
}

.car-card img {
    width: 100%;
    border-radius: 8px;
}

.car-card h2 {
    font-size: 1.5rem;
    color: #2980b9;
    margin: 10px 0;
}

.car-card p {
    font-size: 1rem;
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #218838;
}


@media (max-width: 768px) {
    .navbar {
        height: 50px;
    }
    
    .logo img {
        height: 40px;
    }
}

