<!doctype html>
<html class="no-js" lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Corporate Taxi Services | Ast Cab Serive</title>
      <meta name="title" content="Corporate Taxi Services | Ast Cab Service " />
      <meta name="author" content="">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <link rel="icon" type="image/png" sizes="192x192" href="static/assets/img/favicons/android-icon-192x192.png">
      <link rel="preconnect" href="https://fonts.googleapis.com/">
      <link rel="canonical" href="cars.html">
      <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&amp;family=Radio+Canada:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/assets/css/fontawesome.min.css">
      <link rel="stylesheet" href="static/assets/css/magnific-popup.min.css">
      <link rel="stylesheet" href="static/assets/css/slick.min.css">
      <link rel="stylesheet" href="static/assets/css/jquery.datetimepicker.min.css">
      <link rel="stylesheet" href="static/assets/css/style.css">
   </head>


   <body class="">
	   
	   
	   
      <div class="th-menu-wrapper">
         <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
               <a href="index.html"><img src="static/assets/img/logo-1.png" alt="Taxiar"></a>
            </div>
            <div class="th-mobile-menu">
               <ul>
                  <li class=""><a href="index.html">Home</a></li>
                  <li class=""><a href="about.html">About Us</a></li>
                 
                  <li class=""><a href="cars.html">Cars</a></li>
                  <li class="menu-item-has-children">
                     <a href="#">Gallery</a>
                     <ul class="sub-menu">
                        <li><a href="photo.html">Photo</a></li>
                      
                     </ul>
                  </li>
                
                
                  <li class=""><a href="contact.html">Contact Us</a></li>
               </ul>
            </div>
         </div>
      </div>

      <header class="th-header header-layout2">
         <div class="top-area" data-bg-src="static/assets/img/bg/header_bg_1.png">
            
            <div class="menu-top">
               <div class="container">
                  <div class="row align-items-center justify-content-center justify-content-sm-between">
                     <div class="col-auto d-none d-sm-block"><a class="header-link" href="tel:+91-9717806764"><i class="icon-btn fas fa-phone"></i>+91-9717806764</a> <a class="header-link d-none d-lg-inline-block" href="mailto:promotions.ast@gmail.com"><i class="icon-btn fas fa-envelope"></i>promotions.ast@gmail.com</a> <a class="header-link d-none d-xl-inline-block" href="https://www.google.com/maps"><i class="icon-btn fas fa-location-dot"></i>Raj Nagar, Ghaziabad, Uttar Pradesh, 201002</a></div>
                     <div class="col-auto">
                        <div class="th-social">
                           <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a> 
                       
                           <a target="_blank" href="#"><i class="fab fa-instagram"></i></a> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="sticky-wrapper">
            <div class="menu-area">
               <div class="container">
                  <div class="row align-items-center justify-content-between">
                     <div class="col-auto">
                        <div class="header-logo"><a href="index.html"><img src="static/assets/img/logo-1.png" alt="Taxiar"></a></div>
                     </div>
                     <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                           <div class="col-auto">
                              <nav class="main-menu d-none d-lg-inline-block">
                                 <ul>
                                    <li class=""><a href="index.html">Home</a></li>
                                    <li class=""><a href="about.html">About Us</a></li>
                                   
                                    <li class=""><a href="cars.html">Cars</a></li>
                                    <li class="menu-item-has-children">
                                       <a href="#">Gallery</a>
                                       <ul class="sub-menu">
                                          <li><a href="photo.html">Photo</a></li>
                                        
                                       </ul>
                                    </li>
                                  
                                  
                                    <li class=""><a href="contact.html">Contact Us</a></li>
                                 </ul>
                              </nav>
                              <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                           </div>
                           <div class="col-auto d-none1 d-xxl-block">
                              <div class="header-button">
                                 <!-- <button type="button" class="icon-style2 searchBoxToggler">
                                    <i class="far fa-search"></i>
                                 </button>  -->
                                 <a href="#" class="th-btn style6 style-skew sideMenuToggler">
                                    <span class="btn-text">Let’s Ride Now</span>
                                 </a> 
                                 <!-- <a href="#" class="simple-icon sideMenuToggler">
                                    <i class="fa-solid fa-grid"></i>
                                 </a> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="logo-shape" data-bg-src="static/assets/img/bg/pattern_bg_1.png"></div>
            </div>
         </div>
      </header>





      <div class="icon-bar1">
    <ul>
      <li><a href="https://api.whatsapp.com/send?phone=9717806764" target="_blank" class="whats"><img src="static/assets/img/whatsapp.png" class="img-responsive"></a></li>
      <li><a href="tel:+91-9717806764" target="_blank" class="google1"><img src="static/assets/img/phone.png" class="img-responsive"></a></li>      
    </ul>
</div>



   
	   
	   
	   
<div class="breadcumb-wrapper" data-bg-src="static/assets/img/breadcumb/breadcumb-bg.jpg" data-overlay="title" data-opacity="4">
         <div class="container z-index-common">
            <h1 class="breadcumb-title">Cars</h1>
            <ul class="breadcumb-menu">
               <li><a href="index.html">Home</a></li>
               <li>Cars</li>
            </ul>
         </div>
      </div>

      <div class="space">
         <div class="container">
            
            <div class="row">
               <div class="col-xl-9">
                  <div class="row">
                     <div class="col-xl-4 col-md-4 filter-item cat4">
                  <div class="taxi-box">
                     <div class="taxi-box_img">
                        <img src="static/assets/img/cars/Chevrolet-Tavera.jpg" alt="taxi">
                     </div>
                     <!-- <div class="imgthumbn">
                        <a href="javascript:void(0)" class="author-img">
                           <img src="assets/img/cars/avatar-0.jpg" alt="author">
                        </a>
                     </div> -->
                     <h3 class="taxi-box_title"><a href="cars.html">Tavera</a></h3>
                     
                     <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="th-btn" tabindex="0">Book Now</a>
                  </div>
               </div>

                         <div class="col-xl-4 col-md-4 filter-item cat1">
                  <div class="taxi-box">
                     <div class="taxi-box_img">
                        <img src="static/assets/img/cars/Suzuki-Dezre.jpg" alt="taxi">
                     </div>
                     <!-- <div class="imgthumbn">
                        <a href="javascript:void(0)" class="author-img">
                           <img src="assets/img/cars/avatar-0.jpg" alt="author">
                        </a>
                     </div> -->
                     <h3 class="taxi-box_title"><a href="cars.html">Dzire</a></h3>
                     
                     <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="th-btn" tabindex="0">Book Now</a>
                  </div>
               </div>
               
               
                <div class="col-xl-4 col-md-4 filter-item cat1">
                  <div class="taxi-box">
                     <div class="taxi-box_img">
                        <img src="static/assets/img/cars/R.jpg" alt="taxi">
                     </div>
                     <!-- <div class="imgthumbn">
                        <a href="javascript:void(0)" class="author-img">
                           <img src="assets/img/cars/avatar-0.jpg" alt="author">
                        </a>
                     </div> -->
                     <h3 class="taxi-box_title"><a href="cars.html">Wagon R</a></h3>
                     
                     <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="th-btn" tabindex="0">Book Now</a>
                  </div>
               </div>
               
               <div class="col-xl-4 col-md-4 filter-item cat1">
                  <div class="taxi-box">
                     <div class="taxi-box_img">
                        <img src="static/assets/img/cars/Suzuki-Ertiga.jpg" alt="taxi">
                     </div>
                     <!-- <div class="imgthumbn">
                        <a href="javascript:void(0)" class="author-img">
                           <img src="assets/img/cars/avatar-0.jpg" alt="author">
                        </a>
                     </div> -->
                     <h3 class="taxi-box_title"><a href="cars.html">Ertiga</a></h3>
                     
                     <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="th-btn" tabindex="0">Book Now</a>
                  </div>
               </div>


              

               <div class="col-xl-4 col-md-4 filter-item cat3">
                  <div class="taxi-box">
                     <div class="taxi-box_img">
                        <img src="static/assets/img/cars/Toyota-Etio.jpg" alt="taxi">
                     </div>
                     <!-- <div class="imgthumbn">
                        <a href="javascript:void(0)" class="author-img">
                           <img src="assets/img/cars/avatar-0.jpg" alt="author">
                        </a>
                     </div> -->
                     <h3 class="taxi-box_title"><a href="cars.html">Etios</a></h3>
                     
                     <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="th-btn" tabindex="0">Book Now</a>
                  </div>
               </div>

               <div class="col-xl-4 col-md-4 filter-item cat3">
                  <div class="taxi-box">
                     <div class="taxi-box_img">
                        <img src="static/assets/img/cars/Toyota-Innova.jpg" alt="taxi">
                     </div>
                     <!-- <div class="imgthumbn">
                        <a href="javascript:void(0)" class="author-img">
                           <img src="assets/img/cars/avatar-0.jpg" alt="author">
                        </a>
                     </div> -->
                     <h3 class="taxi-box_title"><a href="cars.html">Innova Crysta</a></h3>
                     
                     <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="th-btn" tabindex="0">Book Now</a>
                  </div>
               </div>

               <div class="col-xl-4 col-md-4 filter-item cat3">
                  <div class="taxi-box">
                     <div class="taxi-box_img">
                        <img src="static/assets/img/cars/Innova.jpg" alt="taxi">
                     </div>
                     <!-- <div class="imgthumbn">
                        <a href="javascript:void(0)" class="author-img">
                           <img src="assets/img/cars/avatar-0.jpg" alt="author">
                        </a>
                     </div> -->
                     <h3 class="taxi-box_title"><a href="cars.html">Toyota Innova </a></h3>
                     
                     <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="th-btn" tabindex="0">Book Now</a>
                  </div>
               </div>

                     

                  </div>
               </div>
             
            </div>
         </div>
      </div>

<footer class="footer-wrapper footer-layout1">
   <div class="widget-area">
      <div class="container">
         <div class="row justify-content-between">
            <div class="col-md-6 col-xl-4">
               <div class="widget footer-widget">
                  <h3 class="widget_title">About Company</h3>
                  <div class="th-widget-about">
                     <p class="footer-text">Welcome to Ast Cab Service, your trusted travel partner committed to making every ride safe, comfortable, and reliable.  </p>
                     <div class="th-social style2">
                        <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                        <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                        <a target="_blank" href="#"><i class="fab fa-instagram"></i></a> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-xl-auto">
               <div class="widget widget_nav_menu footer-widget">
                  <h3 class="widget_title">Quick link</h3>
                  <div class="menu-all-pages-container">
                     <ul class="menu">
                        <li class=""><a href="index.html">Home</a></li>
                        <li class=""><a href="about.html">About Us</a></li>
                        <li class=""><a href="services.html">Services</a></li>
                        <li class=""><a href="cars.html">Cars</a></li>
                        <li class=""><a href="photo.html">Gallery</a></li>
                      
                        <li class=""><a href="contact.html">Contact Us</a></li>
                      
                     </ul>
                  </div>
               </div>
            </div>
            <!-- <div class="col-md-6 col-xl-auto">
               <div class="widget footer-widget">
                  <h3 class="widget_title">Recent Posts</h3>
                  <div class="recent-post-wrap">
                     <div class="recent-post">
                        <div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-2.jpg" alt="Blog Image"></a></div>
                        <div class="media-body">
                           <div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar-days"></i>22th May, 2023</a></div>
                           <h4 class="post-title"><a class="text-inherit" href="blog-details.html">How To Start Car Engine Faster</a></h4>
                           <a class="line-btn" href="blog.html">Read More<i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                     </div>
                     <div class="recent-post">
                        <div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-3.jpg" alt="Blog Image"></a></div>
                        <div class="media-body">
                           <div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar-days"></i>25th May, 2023</a></div>
                           <h4 class="post-title"><a class="text-inherit" href="blog-details.html">How to start car engine slowly</a></h4>
                           <a class="line-btn" href="blog.html">Read More<i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->
            <div class="col-md-6 col-xl-4">
               <div class="widget footer-widget">
                  <h3 class="widget_title">Contact Details</h3>
                  <div class="th-widget-about">
                     <h4 class="footer-info-title">Phone Number</h4>
                     <p class="footer-info"><i class="fa-sharp fa-solid fa-phone"></i><a class="text-inherit" href="tel:+91-9717806764">+91-9717806764</a></p>
                     <h4 class="footer-info-title">Email Address</h4>
                     <p class="footer-info"><i class="fas fa-envelope"></i><a class="text-inherit" href="mailto:promotions.ast@gmail.com">promotions.ast@gmail.com</a></p>
                     <h4 class="footer-info-title">Office Location</h4>
                     <p class="footer-info"><i class="fas fa-map-marker-alt"></i>1st Floor, Shop No.-106, Plot No- A20, Satyam Market Complex, Raj Nagar, Ghaziabad, Uttar Pradesh, 201002</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="copyright-wrap">
      <div class="container">
         <p class="copyright-text">© 2025 <a href="#">Ast Cab Service</a>. All Rights Reserved. </p>
      </div>
   </div>
</footer>
<div class="scroll-top">
   <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
   </svg>
</div>
<script src="static/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="static/assets/js/slick.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="static/assets/js/jquery.counterup.min.js"></script>
<script src="static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="static/assets/js/isotope.pkgd.min.js"></script>
<script src="static/assets/js/nice-select.min.js"></script>
<script src="static/assets/js/jquery.datetimepicker.min.js"></script>
<script src="static/assets/js/wow.min.js"></script>
<script src="static/assets/js/main.js"></script>
static/
<script>
$("#clickRound").click(function(){
    $("#roundTrip").css("display", "block");
    $("#oneWayTrip").css("display", "none");
     $(this).css("background", "#00bcb0");
    $(this).css("color", "#fff");
    $("#clickOneWay").css("color", "#00bcb0");
    $("#clickOneWay").css("background", "#fff");
});

$("#clickOneWay").click(function(){
    $("#roundTrip").css("display", "none");
    $("#oneWayTrip").css("display", "block");
    $(this).css("background", "#00bcb0");
    $(this).css("color", "#fff");
    $("#clickRound").css("color", "#00bcb0");
    $("#clickRound").css("background", "#fff");
});

</script>

 <script>
const currentBtn =
      e.target.parentElement.querySelector(".mobile__CTA--btn");
currentBtn.classList.toggle("active");
</script>

<!-- <script type="text/javascript">

    $(window).on('load', function() {

        $('#staticBackdrop').modal('show');

    });

</script> -->



 <script src="../cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script>
$(document).ready(function() {
   $("#form").validate();
});
</script>

<script>
$(document).ready(function() {
   $("#form1").validate();
});
</script>

<script>
$(document).ready(function() {
   $("#form2").validate();
});
</script>

<script>
$(document).ready(function() {
   $("#form3").validate();
});
</script>

<script>
$(document).ready(function() {
   $("#form4").validate();
});
</script>

<script>
$(document).ready(function() {
   $("#form5").validate();
});
</script>

<script>
$(document).ready(function() {
   $("#form6").validate();
});
</script>

<script>
$(document).ready(function() {
   $("#form7").validate();
});
</script>

<script>
  document.getElementById("todayDate").valueAsDate = new Date();
 </script>
 <script>
  document.getElementById("todayDate1").valueAsDate = new Date();
 </script>

 <script>
  document.getElementById("todayDate2").valueAsDate = new Date();
 </script>
 <script>
  document.getElementById("todayDate3").valueAsDate = new Date();
 </script>
 <script>
  document.getElementById("todayDate4").valueAsDate = new Date();
 </script>
<script>
</body>
</html>







