<!doctype html>
<html class="no-js" lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Gallery</title>
      
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <link rel="icon" type="image/png" sizes="192x192" href="static/assets/img/favicons/android-icon-192x192.png">
      <link rel="preconnect" href="https://fonts.googleapis.com/">
      <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
      <link rel="canonical" href="photo.html">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&amp;family=Radio+Canada:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
      <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/assets/css/fontawesome.min.css">
      <link rel="stylesheet" href="static/assets/css/magnific-popup.min.css">
      <link rel="stylesheet" href="static/assets/css/slick.min.css">
      <link rel="stylesheet" href="static/assets/css/jquery.datetimepicker.min.css">
      <link rel="stylesheet" href="static/assets/css/style.css">
   </head>


   <body class="">
      <div class="th-menu-wrapper">
         <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
               <a href="index.html"><img src="static/assets/img/logo-1.png" alt="Taxiar"></a>
            </div>
            <div class="th-mobile-menu">
               <ul>
                  <li class=""><a href="index.html">Home</a></li>
                  <li class=""><a href="about.html">About Us</a></li>
                 
                  <li class=""><a href="cars.html">Cars</a></li>
                  <li class="menu-item-has-children">
                     <a href="#">Gallery</a>
                     <ul class="sub-menu">
                        <li><a href="photo.html">Photo</a></li>
                      
                     </ul>
                  </li>
                
                
                  <li class=""><a href="contact.html">Contact Us</a></li>
               </ul>
            </div>
         </div>
      </div>

      <header class="th-header header-layout2">
         <div class="top-area" data-bg-src="static/assets/img/bg/header_bg_1.png">
            
            <div class="menu-top">
               <div class="container">
                  <div class="row align-items-center justify-content-center justify-content-sm-between">
                     <div class="col-auto d-none d-sm-block"><a class="header-link" href="tel:+91-9717806764"><i class="icon-btn fas fa-phone"></i>+91-9717806764</a> <a class="header-link d-none d-lg-inline-block" href="mailto:promotions.ast@gmail.com"><i class="icon-btn fas fa-envelope"></i>promotions.ast@gmail.com</a> <a class="header-link d-none d-xl-inline-block" href="https://www.google.com/maps"><i class="icon-btn fas fa-location-dot"></i>Raj Nagar, Ghaziabad, Uttar Pradesh, 201002</a></div>
                     <div class="col-auto">
                        <div class="th-social">
                           <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a> 
                       
                           <a target="_blank" href="#"><i class="fab fa-instagram"></i></a> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="sticky-wrapper">
            <div class="menu-area">
               <div class="container">
                  <div class="row align-items-center justify-content-between">
                     <div class="col-auto">
                        <div class="header-logo"><a href="index.html"><img src="static/assets/img/logo-1.png" alt="Taxiar"></a></div>
                     </div>
                     <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                           <div class="col-auto">
                              <nav class="main-menu d-none d-lg-inline-block">
                                 <ul>
                                    <li class=""><a href="index.html">Home</a></li>
                                    <li class=""><a href="about.html">About Us</a></li>
                                   
                                    <li class=""><a href="cars.html">Cars</a></li>
                                    <li class="menu-item-has-children">
                                       <a href="#">Gallery</a>
                                       <ul class="sub-menu">
                                          <li><a href="photo.html">Photo</a></li>
                                        
                                       </ul>
                                    </li>
                                  
                                  
                                    <li class=""><a href="contact.html">Contact Us</a></li>
                                 </ul>
                              </nav>
                              <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                           </div>
                           <div class="col-auto d-none1 d-xxl-block">
                              <div class="header-button">
                                 <!-- <button type="button" class="icon-style2 searchBoxToggler">
                                    <i class="far fa-search"></i>
                                 </button>  -->
                                 <a href="#" class="th-btn style6 style-skew sideMenuToggler">
                                    <span class="btn-text">Let’s Ride Now</span>
                                 </a> 
                                 <!-- <a href="#" class="simple-icon sideMenuToggler">
                                    <i class="fa-solid fa-grid"></i>
                                 </a> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="logo-shape" data-bg-src="static/assets/img/bg/pattern_bg_1.png"></div>
            </div>
         </div>
      </header>



      <div class="icon-bar1">
    <ul>
      <li><a href="https://api.whatsapp.com/send?phone=9717806764" target="_blank" class="whats"><img src="static/assets/img/whatsapp.png" class="img-responsive"></a></li>
      <li><a href="tel:+91-9717806764" target="_blank" class="google1"><img src="assets/img/phone.png" class="img-responsive"></a></li>      
    </ul>
</div>


	   
	   
	   
	   
<div class="breadcumb-wrapper" data-bg-src="static/assets/img/breadcumb/breadcumb-bg.jpg" data-overlay="title" data-opacity="4">
         <div class="container z-index-common">
            <h2 class="breadcumb-title">Gallery</h2>
            <ul class="breadcumb-menu">
               <li><a href="index.html">Home</a></li>
               <li>Photo</li>
            </ul>
         </div>
      </div>


    <section class="space spacebottom-area">
         <div class="container">
            <div class="title-area text-center">
               <span class="sub-title">Our Gallery<span class="double-line"></span></span>
               <h2 class="sec-title">Our Photo</h2>
        
            </div>
            <div class="row">

         <div class="col-md-4 col-lg-4">
            <div class="photoimg">
               <img src="static/assets/img/gallery/1.webp">
            </div>
         </div>

         <div class="col-md-4 col-lg-4">
            <div class="photoimg">
               <img src="static/assets/img/gallery/2.webp">
            </div>
         </div>

         <div class="col-md-4 col-lg-4">
            <div class="photoimg">
               <img src="static/assets/img/gallery/3.jpg">
            </div>
         </div>

         <div class="col-md-4 col-lg-4">
            <div class="photoimg">
               <img src="static/assets/img/gallery/4.webp">
            </div>
         </div>

         <div class="col-md-4 col-lg-4">
            <div class="photoimg">
               <img src="static/assets/img/gallery/5.webp">
            </div>
         </div>

       

         <div class="col-md-4 col-lg-4">
            <div class="photoimg">
               <img src="static/assets/img/gallery/7.webp">
            </div>
         </div>

         </div>

      

         
         
      
      </div>
        
      </section>

<footer class="footer-wrapper footer-layout1">
   <div class="widget-area">
      <div class="container">
         <div class="row justify-content-between">
            <div class="col-md-6 col-xl-4">
               <div class="widget footer-widget">
                  <h3 class="widget_title">About Company</h3>
                  <div class="th-widget-about">
                     <p class="footer-text">Welcome to Ast Cab Service, your trusted travel partner committed to making every ride safe, comfortable, and reliable.  </p>
                     <div class="th-social style2">
                        <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                        <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                        <a target="_blank" href="#"><i class="fab fa-instagram"></i></a> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-xl-auto">
               <div class="widget widget_nav_menu footer-widget">
                  <h3 class="widget_title">Quick link</h3>
                  <div class="menu-all-pages-container">
                     <ul class="menu">
                        <li class=""><a href="index.html">Home</a></li>
                        <li class=""><a href="about.html">About Us</a></li>
                        <li class=""><a href="services.html">Services</a></li>
                        <li class=""><a href="cars.html">Cars</a></li>
                        <li class=""><a href="photo.html">Gallery</a></li>
                      
                        <li class=""><a href="contact.html">Contact Us</a></li>
                      
                     </ul>
                  </div>
               </div>
            </div>
         
            <div class="col-md-6 col-xl-4">
               <div class="widget footer-widget">
                  <h3 class="widget_title">Contact Details</h3>
                  <div class="th-widget-about">
                     <h4 class="footer-info-title">Phone Number</h4>
                     <p class="footer-info"><i class="fa-sharp fa-solid fa-phone"></i><a class="text-inherit" href="tel:+91-9717806764">+91-9717806764</a></p>
                     <h4 class="footer-info-title">Email Address</h4>
                     <p class="footer-info"><i class="fas fa-envelope"></i><a class="text-inherit" href="mailto:promotions.ast@gmail.com">promotions.ast@gmail.com</a></p>
                     <h4 class="footer-info-title">Office Location</h4>
                     <p class="footer-info"><i class="fas fa-map-marker-alt"></i>1st Floor, Shop No.-106, Plot No- A20, Satyam Market Complex, Raj Nagar, Ghaziabad, Uttar Pradesh, 201002</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="copyright-wrap">
      <div class="container">
         <p class="copyright-text">© 2025 <a href="#">Ast Cab Service</a>. All Rights Reserved. </p>
      </div>
   </div>
</footer>
<div class="scroll-top">
   <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
   </svg>
</div>
<script src="static/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="static/assets/js/slick.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="static/assets/js/jquery.counterup.min.js"></script>
<script src="static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="static/assets/js/isotope.pkgd.min.js"></script>
<script src="static/assets/js/nice-select.min.js"></script>
<script src="static/assets/js/jquery.datetimepicker.min.js"></script>
<script src="static/assets/js/wow.min.js"></script>
<script src="static/assets/js/main.js"></script>





 <script src="../cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	</body>
</html>







