{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AST CABS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxmYQNIYPn1wRMW-E0kpudz-UO3Gcbw1M&libraries=places"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=local_taxi" />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=local_taxi"
  />
    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static './css/animate.css' %}" />
    <link rel="stylesheet" href="{% static './css/aos.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static './css/jquery.timepicker.css' %}" />
    <link rel="stylesheet" href="{% static './css/fancybox.min.css' %}" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    <link rel="stylesheet" href="./static/css/styles.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700"
    />
    <link
      rel="stylesheet"
      href="{% static './fonts/ionicons/css/ionicons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static './fonts/fontawesome/css/font-awesome.min.css' %}"
    />

    <style>
      .popular-cities {
        font-size: 14px;
      }
      
      .popular-cities a {
        display: inline-block;
        margin: 0 5px;
      }
      .divider {
        border-bottom: 1px solid #444;
        margin: 20px 0;
      }
      .cab-column {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* min-width: 200px; */
        margin: 10px;
        column-gap: 30px;
      }
      
      .cab-column h3 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      .cab-column ul {
        list-style: none;
      }
      .cab-column li {
        margin-bottom: 8px;
      }
      .explore-more {
        margin-top: 20px;
        font-size: 12px;
      }
      button {
      background-color: #28a745;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
  }
  
  button:hover {
      background-color: #218838;
  }
  
  /* Footer Styles */
  footer {
      text-align: center;
      margin-top: 40px;
      font-size: 1rem;
      color: #777;
  }
  @media (min-width: 1025px) {
        .site-header.scrolled {
          padding: 5px 0px !important;
        }

        .logo-img {
        height: 60px;
        width: 75px;
        transform: scale(1.5);
        margin-left: 180px;
      }
      .container-fluid{
        min-height: 70px;
        max-height: auto;
      }
        .way-respo0001{
          padding: 5px 32px;background-color: rgb(255, 174, 0)
        }
  }
  
  /* Responsive Design */

    @media (max-width: 767px) {
      .way-respo0001{
          padding: 5px 10px;background-color: rgb(255, 174, 0)
        }
      .car-card {
          width: 90%;
      }
  
  .btns #outstation{
      background-color: #4c95dd;
    }
  
  #outstation:hover{
      background-color: #212529;
    }

      .logo-img{
          height: 35px !important;
          width: 45px !important;
          transform: scale(2.0) !important;
          margin-left: 5px;
        }
      .site-header{
        padding: 20px 0px !important;
      }
      .navbarburger{
          max-width: 50% !important;
      }
      .header-video{
        display: none !important;
      }
      .over-all-form{
       min-height: 100vh;
       max-height: auto;
      }
      .traveller-form{
        width: 300px !important;
      }
      .ctainer{
        margin-top: 150px;
        border-radius: 20px;
          margin-left: 40px;
          padding: 0%;
          width: 300px !important;
      }
      .con-div{
        align-items: center;
        width: 300px !important;
      }
      .form-cab-temo {
        width: 150px;
        height: 50px;
      }
      .form-cab-temo button{
        font-size: 15px !important;
        width: 150px !important;
        height: 50px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
          border-bottom-left-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
      }
      .tempo-img{
        margin-top: 2px !important;
      }
      .form-input{
        width: 300px;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-top: 0px;
      }
      .input-fields{
        width: 240px;
      }
      .date-input{
        width: 240px;
        border-radius: 15px;
        padding: 10px;
      }
      .all-india{
        width: 300px;
      }
      .social-icon{
          width: 100% !important;
        }
    }
  </style>
  </head>
  <body style="padding: 0%" onload="initAutocomplete()">
    <header class="site-header js-site-header"  style="padding: 20px 0px;">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6 col-lg-4 site-logo navbarburger" data-aos="fade">
            <a href="{% url 'home'%}"><img class="logo-img" src="../static/images/astlogoss.png" alt="AST CAB"></a>
          </div>
          <div class="col-6 col-lg-8 navbarburger">
            <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <!-- END menu-toggle -->

            <div class="site-navbar js-site-navbar">
              <nav role="navigation">
                <div class="container">
                  <div class="row full-height align-items-center">
                    <div class="col-md-6 mx-auto">
                      <ul class="list-unstyled menu">
                        <li class="active">
                          <a href="{% url 'home'%}">Home</a>
                        </li>
                        <li><a href="{% url 'travellers'%}">Travellers</a></li>
                        <li><a href="{% url 'about'%}">About</a></li>
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        <li>
                          <a href="{% url 'reservation'%}">Reservation</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END head -->

    <section style="background-image: url(/static/images/trav11.JPG); width: 100%; height: 750px; background-repeat: no-repeat; background-size: cover; background-position: center; ">
         
      <div class="over-all-form"
        style="display: flex; align-items: center; width: 100%; height: 100%; font-family: 'Poppins', serif; font-weight: 600; font-style: normal;" 
      >
        <div
          class="container traveller-form"
          style="
            background: rgba(0, 0, 0, 0.445);
            border-radius: 20px;
            margin-left: 40px;
            padding: 0%;
            width: 420px;
            display: flex;
            flex-direction: column;
          "
        >
          <div
            class="con-div"
            style="
              background-color: rgba(240, 248, 255, 0.705);
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              width: 420px;
              display: flex;
            "
          >
            <a class="btn1 form-cab-temo" href="{% url 'home'%}"
              ><button
                style="
                  width: 180px;
                  height: 70px;
                  margin-top: 10px;
                  border: none;
                  font-size: 28px;
                  background: transparent;
                  cursor: pointer;
                  font-weight: 700;
                "
              ><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/taxi-waiting.png" alt="taxi-waiting"/>
                Cabs
              </button></a
            >
            <a class="btn2 form-cab-temo" href="{% url 'travellers'%}"
              ><button
                style="
                display: flex;
                  width: 210px;
                  height: 65px;
                  margin-top: 10px;
                  margin-left: 10px;
                  border: none;
                  border-radius: 12px;
                  background-color: rgb(255, 174, 0);
                  font-size: 28px;
                  cursor: pointer;
                  font-weight: 700;
                  gap: 10px;
                "
              ><img style="margin-top: 10px;" width="25" height="25" src="https://img.icons8.com/ios-filled/50/FFFFFF/bus.png" alt="bus"/>
                Travellers
              </button></a
            >
          </div>
          <h5 class="all-india"
            style="
              color: white;
              align-items: center;
              display: flex;
              justify-content: center;
              background-color: #fdb713c7;
            "
          >
            All India Cab Service
          </h5>
          
          <form
          action="{% url 'savecabdata'%}"
          method="post"
          style="
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
          "
          id="locationForm"
          onsubmit="event.preventDefault(); "
        >
          {% csrf_token %}
          <div class="btn-way-respo"  style="display: flex;justify-content: space-evenly;margin-top: 5px;justify-content: center;align-items: center; column-gap: 10px;">
            <button class="way-respo0001"><input type="checkbox" id="round" value="true" onclick="selectTripType('round')">Round Trip</button>
            <button class="way-respo0001"><input type="checkbox" id="oneway" checked value="true" onclick="selectTripType('oneWay')">One way Trip</button>
          </div>
          <input
            style="
              font-size: 16px;
              color: black;
              margin: 5px;
              padding: 10px;
              border-radius: 15px;
              border: none;
              outline: none;
            "
            id="pickup"
            name="pickup"
            type="text"
            placeholder="Enter Pickup location"
            required
          />

          <input
            style="
              font-size: 16px;
              color: black;
              margin: 5px;
              padding: 10px;
              border-radius: 15px;
              border: none;
              outline: none;
            "
            id="dropoff"
            type="text"
            name="dropoff"
            placeholder="Enter drop-off location"
            required
          />

          <input
            style="
              font-size: 16px;
              color: black;
              margin: 5px;
              padding: 10px;
              border-radius: 15px;
              border: none;
              outline: none;
            "
            maxlength="10"
            pattern="[6-9][0-9]{9}"
            id="number"
            type="tel"
            name="number"
            placeholder="+91-9717806764"
            oninput="this.setCustomValidity('')"
            oninvalid="this.setCustomValidity('Please enter a valid number.')"
            required
          />
          <button
            onclick="submitForm()"
            style="
              font-size: 16px;
              color: black;
              margin: 15px;
              padding: 10px;
              border-radius: 15px;
              font-weight: 700;
              color: white;
              background-color: rgb(255, 174, 0);
            "
            type="submit"
          >
            Book Cab
          </button>
        </form>
        </div>
      </div>

        
    </section>
    <!-- END section -->

    

    
    <section class="section">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <img src="/static/images/trav1.webp" alt="Free website template" class="img-fluid mb-3">
              </figure>
              <div class="p-3 text-center room-info">
                <h2>Single Traveller</h2>
                <span class="text-uppercase letter-spacing-1">90$</span>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <img src="/static/images/trav2.png" alt="Free website template" class="img-fluid mb-3">
              </figure>
              <div class="p-3 text-center room-info">
                <h2>Family Traveller</h2>
                <span class="text-uppercase letter-spacing-1">120$</span>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <img src="/static/images/trav3.png" alt="Free website template" class="img-fluid mb-3">
              </figure>
              <div class="p-3 text-center room-info">
                <h2>Presidential Traveller</h2>
                <span class="text-uppercase letter-spacing-1">250$</span>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <img src="/static/images/trav4.png" alt="Free website template" class="img-fluid mb-3">
              </figure>
              <div class="p-3 text-center room-info">
                <h2>Single Traveller</h2>
                <span class="text-uppercase letter-spacing-1">90$</span>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <img src="/static/images/trav5.png" alt="Free website template" class="img-fluid mb-3">
              </figure>
              <div class="p-3 text-center room-info">
                <h2>Family Traveller</h2>
                <span class="text-uppercase letter-spacing-1">120$</span>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <img src="/static/images/trav6.png" alt="Free website template" class="img-fluid mb-3">
              </figure>
              <div class="p-3 text-center room-info">
                <h2>Presidential Traveller</h2>
                <span class="text-uppercase letter-spacing-1">250$</span>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
    
    <section class="section bg-light">

      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading" data-aos="fade">Great Offers</h2>
            <p data-aos="fade">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
        </div>
      
        <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="100">
          <a href="#" class="image d-block bg-image-2" style="background-image: url('/static/images/trav3.png');"></a>
          <div class="text">
            <span class="d-block mb-4"><span class="display-4 text-primary">$199</span> <span class="text-uppercase letter-spacing-2">/ ride</span> </span>
            <h2 class="mb-4">Family Traveller</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><a href="#" class="btn btn-primary text-white">Book Now</a></p>
          </div>
        </div>
        <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="200">
          <a href="#" class="image d-block bg-image-2 order-2" style="background-image: url('/static/images/trav5.png');"></a>
          <div class="text order-1">
            <span class="d-block mb-4"><span class="display-4 text-primary">$299</span> <span class="text-uppercase letter-spacing-2">/ ride</span> </span>
            <h2 class="mb-4">Presidential Traveller</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><a href="#" class="btn btn-primary text-white">Book Now</a></p>
          </div>
        </div>

      </div>
    </section>

    <section class="section bg-image overlay" style="background-image: url('/static/images/cab3.jpeg');">
      <div class="container" >
        <div class="row align-items-center">
          <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
            <h2 class="text-white font-weight-bold">A Best Place for Cabs and Travellers. Book Now!</h2>
          </div>
          <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'reservation'%}" class="btn btn-outline-white-primary py-3 text-white px-5">Book Now</a>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-section" style="padding-top: 90px;">
      <div class="container">
        <div class="text-center">
          <h2 style="color: #fff;">POPULAR CITIES</h2>
          <p class="popular-cities">
            {% for j in droplocation %}
            <a href="{% url 'popularCity' j.id %}">{{j.drop}}</a>
            {% endfor %}
          </p>
          <a href="#" class="more-link" style="font-size: 12px;">+ Explore more cities</a>
        </div>
        <div class="divider"></div>
        <!-- Cab Routes Section -->
        <div class="cab-routes">
          <!-- Cab from Delhi -->
          {% for i in pickupLocation %}
          <div class="cab-column">
            <!-- <h3>CAB FROM {{i.pickup}}</h3> -->
            {% for j in droplocation %}
            <ul>
              <li>
                <a href="{% url 'popular' j.id %}">Taxi from {{i.pickup}} to {{j.drop}}</a>
              </li>
            </ul>
            {% endfor %}
          </div>
          {% endfor %}
          <a href="#" class="more-link" style="font-size: 12px;">+ Explore more cities</a>
  
        </div>
        <div class="divider"></div>
        <div class="row mb-4">
          <div class="col-md-3">
            <ul class="list-unstyled link">
              <li><a href="{% url 'about'%}">About Us</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cabs</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled link">
              <li><a href="{% url 'travellers'%}">Traveller</a></li>
            <li><a href="{% url 'about'%}">About Us</a></li>
            <li><a href="{% url 'contact'%}">Contact Us</a></li>
            <li><a href="{% url 'reservation'%}">Reservation</a></li>
            </ul>
          </div>
          <div class="col-md-3 pr-md-5 contact-info">
            <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span>1ST FLOOR, SHOP NO.-106, Plot No- A20, SATYAM
              MARKET COMPLEX, Raj Nagar, Ghaziabad,
              Uttar Pradesh, 201002</span></p>
            
            <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span>promotions.ast@gmail.com</span></p>
          </div>
          <div class="col-md-3">
            <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span>9717806764, 9871572331, 8076613314, 9990711442
              , ladline : 0120-2821236 <span></span></p>
          </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 social-icon" style="width: 1350px;">
          <p class="col-md-6 text-left">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved |
            <i class="icon-heart-o" aria-hidden="true"></i> by
            <a href="#" target="_blank">AST CABS</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>

          <p class="col-md-6 text-right social">
            <a href="#"><span class="fa fa-tripadvisor"></span></a>
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-linkedin"></span></a>
            <a href="#"><span class="fa fa-vimeo"></span></a>
          </p>
        </div>
      </div>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static './js/bootstrap.bundle.js' %}"></script>
    <script src="{% static './js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static './js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static './js/popper.min.js' %}"></script>
    <script src="{% static './js/bootstrap.min.js' %}"></script>
    <script src="{% static './js/owl.carousel.min.js' %}"></script>
    <script src="{% static './js/jquery.stellar.min.js' %}"></script>
    <script src="{% static './js/jquery.fancybox.min.js' %}"></script>

    <script src="{% static './js/aos.js' %}"></script>

    <script src="{% static './js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
      function selectTripType(tripType) {
        const roundTripCheckbox = document.getElementById('round');
        const oneWayTripCheckbox = document.getElementById('oneway');
    
        if (tripType === 'round') {
          roundTripCheckbox.checked = true;
      roundTripCheckbox.value = "true";   // Set value to "true"
      oneWayTripCheckbox.checked = false;
      oneWayTripCheckbox.value = "false";
        } else {
          roundTripCheckbox.checked = false;
      roundTripCheckbox.value = "false";  // Set value to "false"
      oneWayTripCheckbox.checked = true;
      oneWayTripCheckbox.value = "true";
        }
      }
    </script>
    <script>
      flatpickr("input[type=datetime-local]", {});
    </script>

    <script>
      window.addEventListener("resize", changeVideoSource);

      function changeVideoSource() {
        const video = document.getElementsById("backgroundVideo");
        const source = document.getElementsById("videoSource");

        if (window.innerWidth < 1000) {
          source.src = "./static/images/vid4.mp4";
        } else {
          source.src = "./static/images/vid5.mp4";
        }

        // Reload the video to reflect the source change
        video.load();
      }

      // Trigger on page load
      changeVideoSource();
    </script>
   <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("openModalBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementById("closeModalBtn");

    // Get the buttons for trip selection
    var singleTripBtn = document.getElementById("singleTripBtn");
    var roundTripBtn = document.getElementById("roundTripBtn");

    // When the user clicks the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };

    // Redirect based on the selected trip type
    singleTripBtn.onclick = function () {
      window.location.href = "single_trip.html"; // Update with the actual URL of the single trip page
    };

    roundTripBtn.onclick = function () {
      window.location.href = "round_trip.html"; // Update with the actual URL of the round trip page
    };
  </script>
  <script>
    let autocompletePickup, autocompleteDropoff;

    function initAutocomplete() {
      // Initialize the autocomplete fields
      autocompletePickup = new google.maps.places.Autocomplete(
        document.getElementById("pickup")
      );
      autocompleteDropoff = new google.maps.places.Autocomplete(
        document.getElementById("dropoff")
      );
    }

    function submitForm() {
        const pickup = document.getElementById("pickup").value;
        const dropoff = document.getElementById("dropoff").value;
        const round = document.getElementById("round").checked; // Check if round trip is selected
    const oneway = document.getElementById("oneway").checked; // Check if one way is selected

    const tripType = round ? "Roundway" : "Oneway";

        if (pickup && dropoff) {
          window.location.href = `direction2.html/?pickup=${encodeURIComponent(
            pickup
          )}&dropoff=${encodeURIComponent(dropoff)}&tripType=${tripType}`;
        } else {
          alert("Please enter both Pickup and Dropoff locations.");
        }
      }
  </script>
  </body>
</html>